.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.3s ease;
    opacity: 1;
}

/* Clase para ocultar el header */
.header-hidden {
    opacity: 0;
    pointer-events: none;
}

.header-container h1 {
    margin: 0;
    padding-left: 1rem;
}

.header-container h1 a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'RobotoBold', sans-serif;
}

.header-container h1 a:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 1rem;

    position: relative;
}

.nav-list li:not(:last-child) {
    margin-right: 2rem;
}

.nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'RobotoBold', sans-serif;
    display: inline-block;
    padding: 6px 0;
}

.nav-list a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.nav-list a:hover::after {
    width: 100%;
}

.nav-list a.active::after {
    width: 100%;
}

.nav-list a:hover {
    cursor: pointer;
}

/* Tema claro */
.header-light {
    color: #000000;
    background: transparent;
    /* Transparente por defecto cuando está en top 0 */
}

/* Tema claro con scroll */
.header-scrolled.header-light {
    background-image: linear-gradient(to bottom, #00000072 0%, rgba(255, 255, 255, 0) 100%);
}

.header-light h1 a {
    color: #000000;
    text-decoration: none;
}

.header-light .nav-list a {
    color: #000000;
    text-decoration: none;
}

.header-light .nav-list a:hover {
    color: #000000;
}

/* Tema oscuro */
.header-dark {
    color: #ffffff;
    background: transparent;
}

/* Tema oscuro con scroll */
.header-scrolled.header-dark {
    background-image: linear-gradient(to bottom, #ffffff17 0%, rgba(255, 255, 255, 0) 100%);
}

.header-dark h1 a {
    color: #ffffff;
    text-decoration: none;
}

.header-dark .nav-list a {
    color: #ffffff;
    text-decoration: none;
}

.header-dark .nav-list a:hover {
    color: #ffffff;
}