@font-face {
    font-family: 'RobotoBold';
    src: url('/fonts/Roboto_Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('/fonts/Roboto_Condensed-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'JotaArq';
    src: url('/Fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JotaArq';
    src: url('/Fonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JotaArq';
    src: url('/Fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JotaArq';
    src: url('/Fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Argesta';
    src: url('/Fonts/argestadisplay-regular-webfont.ttf') format('truetype');
    /* font-weight: 700; */
    font-style: normal;
}